#sideBar {
    -fx-background-color: #2e7d32;
}

#titleLabel {
    -fx-text-fill: white;
}

.button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.button:hover {
    -fx-background-color: #66bb6a;
    -fx-text-fill: white;
}

#footerBox {
    -fx-background-color: #1b5e20;
}

#adminLabel {
    -fx-text-fill: white;
}

#logoutLabel {
    -fx-text-fill: #a5d6a7;
}

#loadPageAnchor {
    -fx-background-color: white;
}
